---
// Sobre mim — estático.
---

<section id="sobre" class="w-full h-auto sm:h-screen px-[4vw] py-15 sm:py-6 flex flex-col justify-center">
  <h2 class="font-mono text-primary text-2xl sm:text-2xl font-bold pb-17">
    /* SOBRE MIM */
  </h2>
  <article class="flex flex-col items-start">
    <p class="text-[6vw] sm:text-[3.5vw] lg:text-[2.4vw] font-bold text-primary leading-tight">
      Sou desenvolvedor full-stack júnior focado em criar interfaces modernas e funcionais. Trabalho com atenção em detalhes de UI/UX, usabilidade e performance, entregando experiências digitais consistentes.
    </p>
    <p class="text-[4vw] sm:text-[2.5vw] lg:text-[1.8vw] text-text-light pt-9.5 pb-9 leading-snug">
      Transformo ideias em soluções práticas, unindo código, design e boas práticas para construir projetos eficientes e bem estruturados.
    </p>
    <a
      href="/doc/joaovitorcurriculo.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="w-35 h-12.5 rounded-[30px] bg-linear-to-br from-background-start to-background-end hover:translate-y-[-5%] transition-transform duration-500 ease-out flex items-center justify-center text-primary text-base hover:font-medium"
    >CURRÍCULO</a>
  </article>
</section>
