@import "tailwindcss";

@theme {
  --color-primary: #0D0D0D;
  --color-background-start: #F2F2F2;
  --color-background-end: #888888;
  --color-text-light: #535353;

  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-space-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  /* Custom Transitions */
  --transition-duration-slow: 0.6s;
  --transition-duration-medium: 0.4s;
  --transition-duration-fast: 0.3s;

  @keyframes marquee-anim {
    100% {
      transform: translateX(-100%);
    }
  }
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--color-background-start);
  color: var(--color-primary);
  font-family: var(--font-sans);
}
